<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158074943194-pbsa04nmbdj5med03hj7iu443au4utms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158074943194-pbsa04nmbdj5med03hj7iu443au4utms</string>
	<key>API_KEY</key>
	<string>AIzaSyBFDfuCf5jrOCGR0zIienUcT-3b9lFkSNs</string>
	<key>GCM_SENDER_ID</key>
	<string>158074943194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vdt.tcomic</string>
	<key>PROJECT_ID</key>
	<string>tcheck-83ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>tcheck-83ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158074943194:ios:fd9202e4bc6a0cc3c957e3</string>
</dict>
</plist>